<header>
    <mat-toolbar color="primary">
      <h1>{{title}}</h1>
      <a routerLink="/clients" mat-button><mat-icon>perm_identity</mat-icon> Clients</a>
      <a routerLink="/newClients" mat-button><mat-icon>add</mat-icon>Nouveau</a>
      <a routerLink="/demo" mat-button>Démo</a>
      <span class="fill-flex"></span>
      <!--<span [hidden]="!username">{{username}}</span>
      <span [hidden]="username">
        <button mat-icon-button (click)="connexion()">
          <mat-icon>fingerprint</mat-icon>
        </button>
      </span>
      <span [hidden]="!username">
        <button mat-icon-button (click)="deconnexion()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </span>
          <span class="fill-flex"></span>
          <span (click)="deconnexion()">{{username}}</span>
          <button mat-icon-button (click)="connexion()" [hidden]="username">
            <mat-icon>fingerprint</mat-icon>
          </button> -->
    </mat-toolbar>
  </header>

<router-outlet></router-outlet>
